:root {
	--bg: #BDD684;
	--text: #10222B;
	--tone: #95AB63;
}

body {
	background-color: var(--bg);
	color: var(--text);
	font-family: Ubuntu, Calibri, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	margin: 0;
	position: relative;
}

.button {
	background-color: var(--text);
	color: var(--bg);
	padding: .8em;
	text-align: center;
	display: inline-block;
	margin: 1em .3em 0;
	text-decoration: none;
	&:focus {
		text-decoration: underline;
	}
}

#word {
	font-size: 5em;
	font-weight: bold;
	text-align: center;
	margin: 0;
	.inactive {
		opacity: .3;
	}
	.current {
		opacity: 1;
		// color: blue;
	}
	.error {
		color: red;
	}
	.correct {
		// color: var(--tone);
		opacity: .6;
	}
}

#main {
	display: flex;
	flex-direction: column;
	h1 {
		font-size: 4em;
	}
	select {
		font-size: 1.6em;
		padding: .4em;
	}
	.button {
		font-size: 1.6em;
	}
}

#score {
	position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--tone);
}