<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>TypeTitan</title>

		<link rel="stylesheet" href="/css/style.css">
		<script src="/js/typetitan.js" defer></script>
	</head>
	<body>