<%- include head.ejs %>
<section id="main" class="postgame">
	<h1>postgame</h1>
	<% if (locals.stats) { %>
		<p>Right: <%- locals.stats.right %></p>
		<p>Wrong: <%- locals.stats.wrong %></p>
	<% } %>
</section>
	
<%- include foot.ejs %>