:root {
  --bg: #BDD684;
  --text: #10222B;
  --tone: #95AB63;
}

* {
  box-sizing: border-box;
}

body {
  color: #10222B;
  color: var(--text);
  background-color: #BDD684;
  background-color: var(--bg);
  font-family: Ubuntu, Calibri, sans-serif;
  font-size: 2em;
  margin: 0;
  position: relative;
}

.hidden {
  display: none !important;
}

fieldset {
  border: 0;
}

select, input {
  font-size: .8em;
  padding: .4em;
  width: 100%;
}

label {
  display: block;
}

.button, button, [type=submit] {
  color: #BDD684;
  color: var(--bg);
  background-color: #10222B;
  background-color: var(--text);
  padding: .8em;
  text-align: center;
  display: inline-block;
  margin: 1em .3em 0;
  text-decoration: none;
  border: none;
}

.button:focus, button:focus, [type=submit]:focus {
  text-decoration: underline;
}

#score {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #95AB63;
  background-color: var(--tone);
  justify-content: space-around;
  font-size: 1.4em;
  color: white;
}

#score div p {
  margin-right: .3em;
}

#gameover {
  font-size: 1.6em;
  position: absolute;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  color: white;
}

.js.rich form[action='/game'] > div {
  position: relative;
  width: 100%;
  width: 15em;
}

.js.rich form[action='/game'] > div label, .js.rich form[action='/game'] > div input {
  position: absolute;
  font-family: monospace;
  font-size: 2em;
  padding: 0;
}

.js.rich form[action='/game'] > div label {
  z-index: 10;
}

.js.rich form[action='/game'] > div input {
  border: none;
  background-color: transparent;
  outline: 0;
}

@supports (display: flex) {
  body, #gameover {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
  }
  #main {
    display: flex;
    flex-direction: column;
  }
  #score {
    display: flex;
  }
  #score div {
    display: flex;
  }
}
